<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Game Adventure.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D03165DF2330ECF6009D5D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D03165F92330ECF8009D5D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D03166042330ECF8009D5D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
